@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap');

*{
    margin: 0;
    top: 0;
    left: 0;
}

body{
    font-family: "Anuphan", sans-serif;
    font-optical-sizing: auto;
    text-transform: uppercase;
    background-color: #0066FF;
    background-image: 
        linear-gradient(#0047B6 1px, transparent 1px),
        linear-gradient(90deg, #0047B6 1px, transparent 1px);
    background-size: 40px 40px;
    color: #433B3B;
    padding: 80px 80px;
}

h1{
    font-weight: 900;
    font-style: normal;
    font-size: 3rem;
}

h2{
    font-weight: 800;
    font-style: normal;
    font-size: 2.5rem;
}

h3{
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
}

h4{
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
}

h5{
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
}

h6{
    font-weight: 400;
    font-style: normal;
    font-size: 1.125rem;
}

p{
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
}

.box {
  position: absolute;
  top: 72px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 440px;
  height: 16px;
  background-color: #675C5C;
  border: 1px solid #433B3B;
  z-index: -1;
}

.container{
    background-color: #F1F0F0;
    border: 1px solid #433B3B;
    padding: 16px;
    width: 400px;
    margin: 0 auto;
}

.container img{
    width: 60%;
}

.form {
    margin: auto;
    background: #F1F0F0;
    padding: 20px;
    border-radius: 12px;
}

.tag-group {
    margin: 16px 0;
    display: flex;
    gap: 8px;
    overflow-x: auto;   
    flex-wrap: nowrap;  
    padding: 8px; 
    background-color: #D1CECE;
    border: 1px solid #433B3B;
}

.tag {
    flex: 0 0 auto; 
    width: 96px; 
    padding: 8px;
    font-family: "Anuphan", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    border: 1px solid #433B3B;
    background: #FFECEC;
    color: #433B3B;
    cursor: pointer;
    font-size: 12px;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tag img {
    width: 40px;
    height: 40px;
    margin-bottom: 4px;
}

.tag:hover {
  background: #00E050;
  color: #433B3B;
}

.tag.active {
  background:#FFD400;
  color: #433B3B;
  border-color: #433B3B;
}

.toggle-group {
  display: flex;
  padding: 8px;
  gap: 8px;
  margin: 8px 0;
  background-color: #D1CECE;
  border: 1px solid #433B3B;
  overflow: hidden;
}

.toggle {
  flex: 1;
  padding: 8px;
  background: #F1F0F0;
  border: 1px solid #433B3B;
  font-family: "Anuphan", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
  cursor: pointer;
}

.toggle.active {
  background: #433B3B;
  color: #F1F0F0;
}

.toggle[data-type="income"].active {
  background: #008A2E;
}

.toggle[data-type="expense"].active {
  background: #FF1F1F;
}


input, select, textarea {
    width: 92%;
    margin: 8px 0;
    padding: 8px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.submit {
    margin: 8px 0 0 0;
    font-family: "Anuphan", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    width: 100%;
    padding: 16px;
    background: #FFD400;
    color: #433B3B;
    border: 1px solid #433B3B;
    cursor: pointer;
    transition: all 0.3s;
}

.submit:hover{
    background-color: #FF1F1F;
    color: #F1F0F0;
}

#clock {
    padding: 8px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    background-color: #FF1F1F;
    color: #F1F0F0;
    border: 1px solid #433B3B;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #433b3b76;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #F1F0F0;
  padding: 24px;
  width: 300px;
  border: 1px solid #433B3B;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 8px;
}

.modal-actions button {
    margin: 8px 0 0 0;
    font-family: "Anuphan", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    width: 100%;
    padding: 16px;
    background: #433B3B;
    color: #F1F0F0;
    border: 1px solid #433B3B;
    cursor: pointer;
    transition: all 0.3s;
}

.modal .confirm {
  background: #00E050;
  color: #433B3B;
  border: 1px solid #433B3B;
}

.modal-content.success {
  text-align: center;
}

.modal-content.success h3 {
  color: #433B3B;
}

.modal-content.success button {
    margin: 8px 0 0 0;
    font-family: "Anuphan", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    width: 100%;
    padding: 16px;
    background: #FF1F1F;
    color: #F1F0F0;
    border: 1px solid #433B3B;
}

input:focus {
  outline: 2px solid black;
}

@media (max-width: 600px){

    .box {
        width: 90%;
        max-width: 400px;
    }
    .container{
        padding: 16px;
        width: 80%;
    }
}