@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




@font-face {
  font-family: "FCVision";
  src: url("Assets/fonts/FCVision-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "FCVision-2";
  src: url("Assets/fonts/FCVision-Heavy.ttf") format("truetype");
  font-weight: 850;
  font-style: normal;
}

@font-face {
  font-family: "FCVision-3";
  src: url("Assets/fonts/FCVision-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "FCVision-4";
  src: url("Assets/fonts/FCVision-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FCVision-5";
  src: url("Assets/fonts/FCVision-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "FCVision-6";
  src: url("Assets/fonts/FCVision-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FCVision-7";
  src: url("Assets/fonts/FCVision-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  top: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: none;
}

body {
  font-family: "FCVision";
  background-color: #F8F3EC;
  color: #2F2B2A;
  line-height: 1.4;
  text-transform: uppercase;
}

.topic{
  font-family: "FCVision";
  letter-spacing: -3%;
  font-size: 40px;
  color: #3939FF;
  margin-top: -16px;
}

h1{
    font-family: "FCVision";
    letter-spacing: -2%;
    font-size: 32px;
}

h2{
    font-family: "FCVision-2";
    font-size: 28px;
}

h3{
  font-family: "FCVision-3";
  font-size: 24px;
}

h4{
  font-family: "FCVision-4";
  letter-spacing: -2%;
  font-size: 20px;
}

h5{
  font-family: "FCVision-5";
  font-size: 18px;
}

h6{
  font-family: "FCVision-6";
  font-size: 16px;
  letter-spacing: -0.8%;
}

p{
  font-family: "FCVision-7";
  font-size: 14px;
  letter-spacing: -0.8%;
  text-decoration: none;
}

.moko-font{
  font-family: "Prompt", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 48px;
}


header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: auto; 
    position: fixed;
    z-index: 1000;
    background-color: #F8F3EC;
}

header a{
  color: #2F2B2A;
  padding: 0.5vh 4vw;
  text-decoration: none;
  font-family: "FCVision-6";
  font-size: 16px;
  letter-spacing: -0.8%;
  transition: background 0.3s, color 0.3s;
}

header a:hover{
    color: #3939FF;
    cursor: none;
}

.container{
  display: grid;
  grid-template: repeat(10, 20vh)/ repeat(4,1fr);
  gap: 1.5vh;
  margin: 5vh 4vw;
}

.container div{
  display: flex;
  border-radius: 8px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.container div img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.container div img:not(.logo,#moko-03 .item25 img,#moko-03 .item26 img):hover {
  border: 1px solid #2F2B2A;
  box-shadow: 4px 4px #2F2B2A;
  scale: 1.02;
}

#home .item3:hover,#home .item6:hover,#home .item8:hover,#moko-01 .item2:hover,#moko-02 .item14:hover,#moko-02 .item18:hover,#moko-02 .item22:hover{
  border: 1px solid #2F2B2A;
  box-shadow: 4px 4px #2F2B2A;
  scale: 1.02;
}

#moko-03 .item25{
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

#moko-03 .item26{
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}

#moko-03 .item25 img,#moko-03 .item26 img{
  object-position: 0px 0px;
}

.logo{
  width: 100%; 
  height: auto; 
  margin-bottom: 4px;
}

.tag{
  display: flex;
  flex-wrap: wrap;
  align-content: first baseline;
  gap: 8px;
}

.tag h4,.tag h6{
  padding: 6px 16px;
  background-color: #3939FF;
  color: #F8F3EC;
  height: fit-content;
  border-radius: 24px;
  border: 1px solid #2F2B2A;
  box-shadow: 4px 4px #2F2B2A;
  transition: all 0.3s ease-in-out;
}

.tag h4:hover,.tag h6:hover{
  background-color: #2F2B2A;
  border: 1px solid #F8F3EC;
  cursor: none;
}

.text{
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.btn{
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  text-transform: uppercase;
  text-align: justify;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  padding: 8px;
  font-family: "FCVision-6";
  font-size: 16px;
  background-color: #2F2B2A;
  color: #F8F3EC;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.btn-2{
  display: flex;
  width: 48%;
  gap: 8px;
  justify-content: space-between;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  padding: 8px;
  font-family: "FCVision-6";
  font-size: 16px;
  background-color: #2F2B2A;
  color: #F8F3EC;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.btn i,.btn-2 i{
  background-color: #F8F3EC;
  color: #2F2B2A;
  padding: 2px;
  border-radius: 4px;
}

.btn:hover,.btn-2:hover{
  background-color: #3939FF;
  border: 1px solid #2F2B2A;
  cursor: none;
}

.colour {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  border: 1px solid #2F2B2A;
  box-shadow: 4px 4px #2F2B2A;
}

.box{
  background-image: url();
  width: 100%;
  height: 48px;
  object-fit: cover;
  border-radius: 16px;
  margin-top: 8px;
}

.mini-grid{
  margin-top: 8px;
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  gap: 8px;
}

.mini-grid .item,.mini-grid .item{
  background-color: #3939FF;
}

.mini-grid .item,.mini-grid .item img{
  border-radius: 8px;
  width: 100%;
  height: 10vh;
  object-fit: cover;
}

.pointer{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 2rem;
  aspect-ratio: 1;
  background-color: #F8F3EC;
  mix-blend-mode: difference;
  border: 1px solid transparent;
  border-radius: 100%;
  pointer-events: none;
  transform: translate3d(var(--mouseX, 0), var(--mouseY, 0), 0) translate(-50%, -50%);
  transition: 0.3s ease-out;
  transition-property: transform, width, boader, background-color;
}

body:has(header a:hover,.tag h4:hover,.tag h6:hover,.btn:hover,footer a:hover,footer p:hover,[class^="item"]:hover ) .pointer{
  width: 3rem;
  background-color: #c6c600;
}

footer {
  display: flex;
  top: 10%;
  position: sticky;
  padding: 0.5vh 4vw;
  justify-content: space-between;
  background-color: #F8F3EC;
}

footer a,footer p {
  color: #2F2B2A;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
  transition: color 0.3s ease;
}

footer a:hover , footer p:hover{
    color: #3939FF;
    cursor: none;
}

#overlay{
  display:none; 
  position:fixed; 
  inset:0;
  background:rgba(255, 255, 255, 0.086);
  backdrop-filter: blur(30px);           /* apply blur */
  -webkit-backdrop-filter: blur(30px);
  justify-content:center; align-items:center;
  z-index:1000;
}

#overlay .alret{
  position: absolute;
  top: 90%;
  align-items: center;
  display: flex;
  text-align: left;
  background-color: #2F2B2A;
  color: #F8F3EC;
  padding: 8px 16px;
  border-radius: 16px;
}

#overlay .alret i{
  font-size: 32px;
  margin-bottom: 8px;
}

#overlay img{
  width: 60%;
  height: 72%;
  border-radius: 16px;
  border: 1px solid #2F2B2A;
  box-shadow: 4px 4px #2F2B2A;
  object-fit: contain;
  background-color: #F8F3EC;
}

#fullImage{
  max-width: 90%; 
  max-height: 90%;
  border-radius: 0;
}

@media (max-width: 1200px){
  .container{
    grid-template: repeat(4, 29vh)/ repeat(3,1fr);
  }
    
}

@media (max-width: 960px) {
  .container{
    grid-template: 30vh/ repeat(2,1fr);
  }

  .item1 {
    order: 1;
    grid-column: 1 / span 2;
  }
  .item2 {
    order: 2;
    grid-column: 1 / span 2;
  }
  .item3 {
    order: 6;
  }
  .item4 {
    order: 3;}
  .item5 {
    order: 4;}
  .item6 {
    order: 8;}
  .item7 {
    order: 5;}
  .item8 {
    order: 9;}
  .item9 {
    order: 11;
    grid-column: 1 / span 2;}
  .item10 {
    order: 7;}
  .item11 {
    order: 10;}
  .item12 {
    order: 12;
    grid-column: 1 / span 2;}

  .item13,.item14,.item17,.item18,.item21,.item22,.item23,.item24,.item27,.item28,.item29.item30{
    grid-column: 1 / span 2;
  }

  #moko-03 .item25{
    grid-row: 1 / span 1;
  }

  #moko-03 .item26{
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
  }
  .RM-0{
    display: none;
  }

  #overlay .alret{
  position: absolute;
  top: 70%;
  left: 30%;
  text-align: left;
  background-color: #2F2B2A;
  color: #F8F3EC;
  padding: 16px;
  border-radius: 16px;
}
}