@font-face {
  font-family: "FCVision";
  src: url("Assets/fonts/FCVision-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "FCVision-2";
  src: url("Assets/fonts/FCVision-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "FCVision-3";
  src: url("Assets/fonts/FCVision-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


* {
  top: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  font-family: "FCVision";
  background-color: #F8F3EC;
  color: #3939FF;
  line-height: 1.4;
  text-transform: uppercase;
}

section{
    padding-inline: 8vw;
    padding-top: 8px;
    padding-bottom: 8px;
}

header{
    display: flex;
    padding-inline: 8vw;
    padding-bottom: 8px;
    justify-content: space-between;
    align-items: auto; 
    position: sticky;
    z-index: 1000;
    background-color: #F8F3EC;
}

header a{
    padding: 8px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #2F2B2A;
    transition: background 0.3s, color 0.3s;
}

header a:hover{
    color: #3939FF;
    cursor: pointer;
}


.four-column{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}

.three-row{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 64px;
  align-items: flex-start;
}

.three-column{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.tag{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
}

.colour{
  width: 60px;
  height: 60px;
  border-radius: 8px;
}

.text{
    width: 100%;
    height: 180px;
    border-radius: 8px;
}

#userxuseri.text{
    width: 100%;
    border-radius: 8px;
}

h1{
    font-family: "FCVision-2";
    letter-spacing: -2%;
    font-size: 32px;
}

h2{
    font-size: 24px;
    color: #2F2B2A;
}

h3{
    padding: 4px;
    background-color: #3939FF;
    width: fit-content;
    font-size: 16px;
    color: #F8F3EC;
    border-radius: 4px;
}

h4{
    font-family: "FCVision-2";
    letter-spacing: -2%;
    font-size: 4vw;
    padding: 8px 0;
    line-height: 40px;
}

h5{
    font-family: "FCVision-3";
    font-size: 12px;
    padding: 4px;
    color: #F8F3EC;
    background-color: #3939FF;
    border-radius: 4px;
}

h6{
    font-family: "FCVision-3";
    font-size: 12px;
    letter-spacing: -0.8%;
    color: #2F2B2A;
}

p{
    font-family: "FCVision-3";
    font-size: 16px;
    letter-spacing: -0.8%;
}

.text p{
    font-family: "FCVision-3";
    font-size: 16px;
    letter-spacing: -0.8%;
    color: #2F2B2A;
    display: -webkit-box;
    -webkit-line-clamp: 6;   /* show only 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
}

.more-link {
    color: blue;
    cursor: pointer;
    font-weight: bold;
  }

.text li{
    list-style: none;
}

.text li a{
  text-decoration: none;
    font-family: "FCVision-3";
    font-size: 16px;
    color: #3939FF;
}

.text li a:hover{
  width: 100%;
  height: auto;
    background-color: #3939FF;
    color: #F8F3EC;
}

.image{
    width: 100%;
    height: 180px;
}

img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

.image-s{
    width: 100%;
    height: 148px;
    object-fit: cover;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

.image-xl{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}


.image img:hover,.image-s:hover{
  scale: 1.08;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;      
}

.marquee span {
  display: inline-block;
  padding-right: 1rem; 
  margin-top: 8px; 
  margin-bottom: 8px;     
  animation: marquee 16s linear infinite;
  font-weight: bold;
  font-size: 16px;
  color: #3939FF;
}

@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.flex{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.space{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text a{
  text-decoration: none;
  color: #2F2B2A;
}

.text a:hover{
  text-decoration: none;
  color: #3939FF;
}

.box-h1{
    width: 100%;
    height: 20px;
    margin: 2px 0;
    background-color: #3939FF;
}

.box-h2{
    width: 100%;
    height: 16px;
    margin: 2px 0;
    background-color: #3939FF;
}

.box-h3{
    width: 100%;
    height: 12px;
    margin: 2px 0;
    background-color: #3939FF;
}

.box-h4{
    width: 100%;
    height: 8px;
    margin: 2px 0;
    background-color: #3939FF;
}

.icon{
    width: 4.8vw;
    height: 4.8vw;
    padding: 0.8vw ;
    background-color: #3939FF;
    color: #F8F3EC;
    border-radius: 8px;
}

.btn-link {
  text-align: center;
  margin-bottom: 8px;
  width: 100%;
  padding: 0.4rem;
  background-color: transparent;
  background-color: #2F2B2A;
  color: #F8F3EC;
  text-decoration: none; /* remove underline */
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-size: 16px;
  border-radius: 8px;
}

.btn-link:hover {
  background-color: #3939FF;
  color: #F8F3EC;
}

footer {
  top: 95%;
  left: 0;
  position: fixed;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  padding-inline: 8vw;               
  font-size: 16px;
  z-index: 1000;
  background-color: #F8F3EC;
  color: #2F2B2A;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  transition: color 3s;
}

footer a {
  color: #2F2B2A;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
  transition: color 0.3s ease;
}

footer a:hover , footer p:hover{
    color: #3939FF;
}

@media (max-width: 1024px){
    .four-column {
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    }

    nav {
    display: none; 
    position: absolute;
    top: 40px;
    background: #F8F3EC;
    flex-direction: column;
    width: 84%;
    padding: 8px;
    border: 1px solid #3939FF;
    color: #F8F3EC;
  }

  nav.active {
    display: flex; 
  }

  .hamburger {
    display: block; 
    transition: background 0.3s, color 0.3s;
  }

  .hamburger:hover {
    color: #3939FF;
  }

  nav a {
    width: 100%;
    padding: 8px;
    text-align: left;
  }

  .text h4{
        font-size: 6vw;
        padding: 0;
        line-height: 60px;
    }

    footer {
      font-size: 12px;
      bottom: 0;
    }
}

@media (max-width: 768px) {
  header{
    padding-inline: 4vw;
  }

  header a{
    font-size: 14px;
  }

  .four-column {
    display: flex;
    flex-wrap: wrap;
  }

  .three-column {
    display: flex;
    flex-wrap: wrap;
  }

  .text h4{
        font-size: 52px;
        padding: 0;
        line-height: 60px;
    }
  .icon{
        width: 16vw;
        height: 16vw;
        padding: 3.2vw ;
    }
    .image-s{
      height: 180px;
    }
    .space{
      display: none;
    }

    footer {
      padding: 4vw;
      font-size: 8px;
      justify-content: center;
      bottom: 0;
    }
}